@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heroimage {
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroitems {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

nav {
  color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.menu {
  display: none;
}

.menu a {
  list-style-type: none;
  text-decoration: none !important;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #777676 solid 1px;
  padding: 0.5em 2em;
  width: 100%;
}

.menu a:hover {
  color: #000;
  cursor: pointer;
}

.menu-shower {
  display: block;
  border-top: #777676 solid 2px;
  background-color: #ff984f;
  width: 100%;
  opacity: 0;
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.active {
  color: #000 !important;
}

.dropdown {
  width: 100%;
}

.dropdown button {
  border: none;
  background-color: inherit;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #777676 solid 1px;
  padding: 0.5em 2em;
  width: 100%;
}

.dropdown button:hover {
  color: #000;
  cursor: pointer;
}

.dropdown-content {
  display: none;
}

.drop-show {
  display: block;
  z-index: 99;
}

.drop-show a {
  padding-left: 5em;
}

#nav-opener {
  padding: 5px;
  font-size: 1.5rem;
}

#nav-opener:hover {
  color: #000;
  cursor: pointer;
}

.controller-container {
  display: block;
  text-align: right;
  background-color: #ff6a00;
}

@media (min-width: 760px) {
  .controller-container {
    display: none;
  }
  body {
    position: relative;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ff6a00;
  }
  .menu a {
    width: auto;
    border: none;
  }
  .menu .fa-angle-right {
    display: none;
  }
  .dropdown {
    width: auto;
  }
  .dropdown button {
    border: none;
    display: block;
  }
  .drop-show {
    display: block;
    position: absolute;
    background-color: #ff984f;
    color: #fff;
    width: 100%;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 2px 300em rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2px 300em rgba(0, 0, 0, 0.1);
  }
  .drop-show a {
    padding: 1em 0;
    border-bottom: #777676 solid 1px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
  }
  .drop-show a:last-child {
    border: none;
  }
  .active {
    background-color: #ff984f !important;
  }
}

.aboutMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

.aboutImg {
  background-image: url("../images/profile.jpg");
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.aboutImgContainer {
  width: 60vw;
  height: 60vw;
  margin-bottom: 1em;
  min-width: 280px;
  min-height: 280px;
  max-width: 450px;
  max-height: 450px;
}

.aboutInfo {
  border: 2px solid #ff6a00;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #777676;
  color: #fff;
  border-radius: calc(.3rem - 1px);
  padding: 0.5em;
  max-width: 1100px;
}

.aboutInfo a {
  list-style: none;
  color: #fff;
}

.aboutInfo ul {
  list-style-position: inside;
}

@media (min-width: 760px) {
  .aboutMain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .aboutImgContainer {
    width: 30vw;
    height: 30vw;
    margin-bottom: 0;
    margin-right: 1em;
  }
  .aboutInfo {
    width: 70vw;
  }
}

.projectMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectMain .content {
  border: 2px solid #ff6a00;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #777676;
  color: #fff;
  border-radius: calc(.3rem - 1px);
  margin: 1.25rem;
  padding: 1.25rem;
  max-width: 700px;
}

.projectMain .content h4 {
  text-align: center;
}

.projectMain .content a {
  list-style: none;
  color: #fff;
}

.projectMain .content .description {
  font-weight: bold;
}

.projectMain .content .readme {
  text-indent: 1rem;
}

.centerizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0;
}

.resume .heading {
  text-align: center;
}

.resume .courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 760px) {
  .resume .courses {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container-gallery {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0.2em 2em 0.2em 2em;
}

.item {
  margin: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.item img {
  width: 100%;
  height: 100%;
}

.item img:hover {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  -webkit-filter: blur(2px) brightness(60%);
          filter: blur(2px) brightness(60%);
}

.selector {
  text-align: right;
}

.gallerybtn {
  background-color: #ff6a00;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
}

.gallerybtn:hover {
  background-color: #ff984f;
  color: #000;
}

.owl-stage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}

.owl-carousel {
  margin: 1rem 0;
}

.owl-carousel .owlitem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.owlitem {
  width: 60vw !important;
  height: 60vw !important;
  max-width: 600px;
  max-height: 600px;
}

.owl-dots button {
  border: none !important;
  outline: none !important;
  border-radius: 20%;
  color: #000 !important;
}

.owl-dots button span {
  background-color: #777676 !important;
  width: 1.15em !important;
  height: 1.15em !important;
}

.owl-dots .active {
  background-color: #ff984f !important;
}

.owl-dots .active span {
  background-color: #333 !important;
}

.owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-nav button:hover {
  background-color: #777676 !important;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff !important;
  font-size: 2rem !important;
  font-weight: bolder !important;
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}

.contactForm {
  width: 80%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactMe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  text-align: center;
  min-height: 400px;
}

.messagesMain {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.centered p {
  margin-top: 0.5em;
  font-size: 1.25em;
}

@media (min-width: 760px) {
  .contactForm {
    width: 60%;
  }
  .contactMe-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contactMe-content h1 {
    margin-right: 1em;
  }
}

footer {
  background-color: #333;
  color: #fff;
  -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  font-size: 0.9rem;
}

footer .container .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
  text-decoration: none;
  color: #fff;
}

footer .container .footer-link:hover {
  color: rgba(255, 255, 255, 0.603);
}

footer .copyright {
  text-align: center;
  padding: 0 0.5rem;
}

@media (min-width: 600px) {
  footer .container {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=main.css.map */